*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.o
*.so
*.a

/Makefile.config
/LablGlut/src/lablglut
/LablGlut/src/lablgluttop
/Togl/src/lablgl
/Togl/src/lablgltop
/Togl/src/togl_tags.c
/Togl/src/togl_tags.h
/src/gl_tags.c
/src/gl_tags.h
/src/glu_tags.c
/src/glu_tags.h
/src/raw_tags.h
/src/var2def
/src/var2switch
